/* fonts */
@font-face {
  font-family: 'Gagalin';
  src: url('../fonts/gagalin-regular-webfont.woff') format('woff'),
      url('../fonts/gagalin-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}


@font-face {
  font-family: 'Lifehack';
  src: url('../fonts/lifehack_medium-webfont.woff') format('woff'),
       url('../fonts/lifehack_medium-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}


/* base.scss */

*, *::before, *::after {
box-sizing: border-box;
}

html, body {
height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42;
  color: #fff;
  -webkit-font-smoothing: antialiased;
}

img {
  border-style: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0; 
  }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}
  
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  }

[href] {
  text-decoration: none;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.wrapper {
  /* overflow: hidden; */
  width: 100%;
  height: 100%;
}

.maincontent {
  height: 100%;
  min-height: 650px;
}


.section {
  height: 100%;
}

.hero {
  background-image: url('../img/bckgr.png');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  position: relative;
  /* display:none; */
}

.container {
  width: 940px;
  margin: 0 auto;
}

.hero__container {
  height: 100%;
}

.header {
  width: 100%;
  /* display: flex;
  justify-content: center;
  align-content: center; */
  padding-top: 10px;
}

.header__left {
  display: inline-block;
  float: left;
  width: 10%;
}
.header__right {
  display: inline-block;
  float: left;
  width: 90%;
  text-align:right;
}


.menu {
  position: relative;
  vertical-align: middle;
  padding-top:20px;
  
}


.menu__item {
  display: inline-block;
  margin-right: 7px;
}
.menu__link  {
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
}
.menu__item::after  {
  content: "";
  width: 3px;
  height: 3px;
  border-radius: 3px;
  border-color: #fff;
  background-color: #fff;
  display: inline-block;
  vertical-align: middle;
  margin-left: 7px;
}

.menu__item:last-child:after {
display: none;
}

.header__btn {
  display: inline-block;
  position: relative;
  padding-top:20px;
  vertical-align: middle;
  
}

.order-link {
  /* min-width: rem(98px); */
  /* position: rem(10px) rem *(17px); */
  border-radius: 5px;
  background-color: #e45028;
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
  height: 100%;
  padding: 9px 12px;
}

.hero__content {
  top: 50%;
  transform: translateY(-50%);
  position: relative;
  padding-bottom: 20%;
  /* display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  align-items: center;
  padding-bottom: 15%; */
}


.hero__img, .hero__descr {
  width: 50%;
  display: inline-block;
  float:left;
} 

/* .hero__img, .hero__descr {
  flex-basis: 50%;
  display: flex;
} */

.hero__descr {
  padding: 15% 0;
  text-align: left;
}

.section__title {
  font-family: "Gagalin", Arial, Helvetica, sans-serif;
  font-size: 72px;
}

.section__title--hero {
  color: #f9b43b;
}

.hero__descr-text {
  font-family: "Lifehack", Arial, Helvetica, sans-serif ;
  font-size: 65px;
  text-align: left;
  line-height: 0.95;
}

.arrow  {
  width: 950px;
  bottom: 40px;
  position: absolute;
  text-align: center;
}

.arrow__link {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
}

.about {
  background-image: url('../img/bg-about.jpg');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  position: relative;
}

.about__container {
  position: relative;
  top: 47%;
  transform: translateY(-50%);
}

.section__title--about {
  color: #2f3234;
  text-align: center;
  margin-bottom: 25px;
}

.about__content {
  position: relative;
}


.about__list {
    /* padding-left: 0; */
    display: block;
    align-content: top;
}

.about__item {
    width: 31%;
    float: left;
    color: #2f3234;
    text-align: center;
    margin: 0 10px;
}


.about__icon {
   margin: 0 auto;
    height: 100px;
    margin-bottom: 32px;
}

.meat {
    background: url('../icons/meat.svg') center no-repeat;
}

.hand {
    background:  url('../icons/hand.svg') center no-repeat;
}

.natural {
  background: url('../icons/natural.svg') center no-repeat;
}


.about__item-title {
  font-family: "Lifehack", Arial, Helvetica, sans-serif ;
    font-size: 24.12px;
    margin-bottom: 0.5rem;
    line-height: 1.2;
}

.about__text {
    color: #6b6a6a;
    font-weight: 300;
    line-height: 24px;
}

.hidden {
  display: none;
}

.reviews__list {
  height: 100%;
  width: 100%;
  min-width: 1100px;
}

.reviews__item {
  position: relative;
  float: left;
  width: 25%;
  height: 50%;
  /* border: solid black 1px; */
  background: url('/img/av-2.jpg') 50% no-repeat;
  background-size: cover;
  filter: grayscale(1);
}

.reviews__item:nth-child(1) {
  background-image: url('/img/av-1.jpg');
 
}
.reviews__item:nth-child(2) {
  background-image: url('/img/av-02.jpg');
 
}
.reviews__item:nth-child(3) {
  background-image: url('/img/av-03.jpg');
}
.reviews__item:nth-child(4) {
  background-image: url('/img/av-04.jpg');
 
}
.reviews__item:nth-child(5) {
  background-image: url('/img/av-05.jpg');
 
}
.reviews__item:nth-child(6) {
  background-image: url('/img/av-06.jpg');
 
}
.reviews__item:nth-child(7) {
  background-image: url('/img/av-07.jpg');
 
}
.reviews__item:nth-child(8) {
  background-image: url('/img/av-08.jpg');
 
}

.reviews__content {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 1;
  padding: 40px 22px 0;
  opacity:0;
  background-color: rgb(0, 0, 0, 0.6);
  /* overflow: hidden; */
  
}

.reviews__item:hover .reviews__content {
  opacity: 1;
  transition: 0.3s;
}

.reviews__title {
  font-family: "Gagalin", Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
}

.reviews__text {
  font-family: "Ubuntu", Arial, Helvetica, sans-serif;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 5px;  
  max-height: 68%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.more-link {
  text-transform: uppercase;
  color: #fff;
  border-radius: 5px;
  background-color: #2f3234;
  height: 100%;
  padding: 9px 12px;
  font-size: 13px;
}


.reviews__btn {
  padding-top:15px;
  
}

