@import url(./layout/normalize.css);
*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased; }

img {
  border-style: none; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

p {
  margin: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0; }

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

[href] {
  text-decoration: none; }

.clearfix:before,
.clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.wrapper {
  width: 100%;
  overflow: hidden; }

.maincontent {
  height: 100%;
  min-height: 650px; }

.section {
  height: 100vh;
  min-height: 650px;
  overflow: hidden; }

.container {
  width: 940px;
  margin: 0 auto; }

.hidden {
  display: none; }

@font-face {
  font-family: 'Gagalin';
  src: url("../../fonts/gagalin-regular-webfont.woff") format("woff"), url("../../fonts/gagalin-regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: fallback; }

@font-face {
  font-family: 'Lifehack';
  src: url("../../fonts/lifehack_medium-webfont.woff") format("woff"), url("../../fonts/lifehack_medium-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: fallback; }

.hero {
  background-image: url("../img/bckgr.png");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  position: relative; }
  .hero__container {
    height: 100%; }

.header {
  width: 100%;
  /* display: flex;
  justify-content: center;
  align-content: center; */
  padding-top: 13px; }
  .header__left {
    float: left;
    width: 10%; }
  .header__right {
    float: left;
    width: 90%;
    text-align: right; }
  .header__btn {
    display: inline-block;
    position: relative;
    padding-top: 23px;
    vertical-align: middle; }

.top-menu {
  position: relative;
  vertical-align: middle;
  padding-top: 20px;
  display: inline-block;
  margin-right: 13px; }
  .top-menu__item {
    display: inline-block;
    position: relative;
    margin-left: 16px; }
    .top-menu__item::before {
      content: "";
      width: 5px;
      height: 5px;
      border: 1px solid #fff;
      background-color: #fff;
      -webkit-border-radius: 2.5px;
      -moz-border-radius: 2.5px;
      -o-border-radius: 2.5px;
      -ms-border-radius: 2.5px;
      border-radius: 2.5px;
      position: relative;
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
      margin-top: -2px; }
    .top-menu__item:first-child::before {
      display: none; }
    .top-menu__item:hover {
      text-decoration: underline;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
  .top-menu__link {
    color: #fff;
    text-transform: uppercase;
    font-size: 13px; }

.order-link {
  border-radius: 5px;
  background-color: #e45028;
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
  height: 100%;
  padding: 10px 15px; }

.hero__content {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  position: relative;
  padding-bottom: 20%;
  /* display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  align-items: center;
  padding-bottom: 15%; */ }

.hero__img, .hero__descr {
  width: 50%;
  display: inline-block;
  float: left; }

/* .hero__img, .hero__descr {
  flex-basis: 50%;
  display: flex;
} */
.hero__img-pic {
  margin-top: 15px;
  margin-left: 16px; }

.hero__descr {
  padding: 15% 0 15% 8px;
  text-align: left; }

.section__title {
  font-family: "Gagalin", Arial, Helvetica, sans-serif;
  font-size: 72px;
  margin-bottom: 10px; }
  .section__title--hero {
    color: #f9b43b; }

.hero__descr-text {
  font-family: "Lifehack", Arial, Helvetica, sans-serif;
  font-size: 65px;
  text-align: left;
  line-height: 0.95;
  letter-spacing: -1px; }

.arrow {
  width: 950px;
  bottom: 37px;
  position: absolute;
  text-align: center; }
  .arrow__link {
    display: inline-block;
    margin: 0 auto;
    text-align: center; }

.about {
  background-image: url("../img/bg-about.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  position: relative; }
  .about__container {
    position: relative;
    top: 47%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  .about__content {
    position: relative; }

.section__title--about {
  color: #2f3234;
  text-align: center;
  margin-bottom: 18px; }

.about__list {
  display: block;
  -ms-flex-line-pack: top;
  align-content: top;
  margin-left: 10px; }

.about__item {
  width: 31%;
  float: left;
  color: #2f3234;
  text-align: center; }
  .about__item:not(:last-child) {
    margin-right: 31px; }

.about__icon {
  margin: 0 auto;
  height: 100px;
  margin-bottom: 25px; }

.meat {
  background: url("../icons/meat.svg") center no-repeat; }

.hand {
  background: url("../icons/hand.svg") center no-repeat; }

.natural {
  background: url("../icons/natural.svg") center no-repeat; }

.about__descr h3 {
  font-family: "Lifehack", Arial, Helvetica, sans-serif;
  font-size: 24.12px;
  margin-bottom: 0.5em;
  line-height: 1.2; }

.about__descr p {
  color: #6b6a6a;
  font-weight: 300;
  line-height: 24px; }

.reviews__list {
  height: 100%;
  min-width: 940px; }

.reviews__item {
  position: relative;
  float: left;
  width: 25%;
  height: 50%;
  background: center center / cover no-repeat;
  -webkit-filter: grayscale(1);
  filter: grayscale(1); }
  .reviews__item:hover .reviews__transparency {
    opacity: 0.6;
    filter: alpha(opacity=60);
    -moz-opacity: 0.6; }
  .reviews__item:hover .reviews__content {
    opacity: 1;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }

.reviews__content {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 44px 22px 0;
  opacity: 0; }

.reviews__transparency {
  opacity: 0;
  background-color: #000000;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1; }

.reviews__title {
  font-family: "Gagalin", Arial, Helvetica, sans-serif;
  margin-bottom: 19px; }

.reviews__text {
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 5px;
  max-height: 68%;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis; }

.more-link {
  text-transform: uppercase;
  color: #fff;
  border-radius: 5px;
  background-color: #2f3234;
  height: 100%;
  padding: 9px 12px;
  font-size: 13px; }

.reviews__btn {
  padding-top: 15px; }

.nav {
  position: fixed;
  top: 90px;
  right: 38px; }

.nav__item {
  position: relative;
  width: 16px;
  height: 16px;
  margin-bottom: 5px; }
  .nav__item:hover::before, .nav__item--active::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border: 1px solid #fff;
    background-color: #fff;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    -ms-border-radius: 8px;
    border-radius: 8px;
    background-color: transparent;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer; }

.nav__link {
  position: absolute;
  width: 6px;
  height: 6px;
  border: 1px solid #fff;
  background-color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  top: 5px;
  left: 5px; }

.team {
  background: url("../img/team.jpg") 50%/cover no-repeat;
  position: relative; }
  .team .section__title {
    color: #f9b43b; }

.team__container {
  position: absolute;
  width: 50%;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(47, 50, 52, 0.93);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.team__content {
  padding: 0 17%; }

.team__acc {
  margin-left: 10px; }

.team-acc__item {
  margin-bottom: 40px; }
  .team-acc__item:last-child {
    margin-bottom: 0; }
  .team-acc__item--active .team-acc__trigger {
    color: #f9b43b; }
    .team-acc__item--active .team-acc__trigger:before {
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg); }
  .team-acc__item--active .team-acc__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

.team-acc__trigger {
  color: #fff;
  font-size: 14px;
  font-family: "Gagalin", Arial, Helvetica, sans-serif;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 10px; }
  .team-acc__trigger:before, .team-acc__trigger:after {
    content: "";
    display: block;
    position: absolute;
    left: -18px;
    top: 8px;
    width: 7px;
    height: 7px; }
  .team-acc__trigger:before {
    border-top: 7px solid #f9b43b;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 0px solid transparent;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }

.team-acc__content {
  display: none;
  overflow: hidden; }

.team-acc__pic {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100px;
  overflow: hidden;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.team-acc__img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: center / cover no-repeat; }

.team-acc__text {
  margin-left: 20px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.team-acc__title {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 14px; }

.team-acc__descr {
  font-weight: light;
  font-size: 14px; }

.menu {
  background: url("../img/menu-bg.jpg") 50%/cover no-repeat;
  position: relative; }
  .menu .section__title {
    position: absolute;
    padding: 100px 80px; }

.menu-acc {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.menu-acc__item {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .menu-acc__item--active .menu-acc__trigger-name {
    color: #f9b43b; }
  .menu-acc__item--active .menu-acc__content {
    width: 550px; }
  .menu-acc__item--active .menu-acc__text {
    display: inline-block; }

.menu-acc__trigger {
  display: block;
  float: left;
  height: 100%;
  width: 80px;
  position: relative;
  background: center right / cover no-repeat; }
  .menu-acc__trigger:before {
    content: "";
    background-color: rgba(47, 50, 52, 0.7);
    position: absolute;
    width: 80px;
    height: 100%; }

.menu-acc__trigger-name {
  color: #fff;
  font-size: 48px;
  font-family: "Gagalin", Arial, Helvetica, sans-serif;
  -webkit-transform: rotate(-90deg) translateY(-50%);
  -ms-transform: rotate(-90deg) translateY(-50%);
  transform: rotate(-90deg) translateY(-50%);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  position: absolute;
  top: 100%;
  left: 50%;
  white-space: nowrap;
  margin-top: -50px; }

.menu-acc__content {
  height: 100%;
  float: left;
  background: rgba(47, 50, 52, 0.93);
  width: 0;
  overflow: hidden; }

.menu-acc__text {
  color: #fff;
  font-size: 18px;
  line-height: 1.8;
  padding: 10% 7%;
  width: 100%;
  display: none; }

.map {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.footer {
  background: url("../img/footer.jpg") center bottom/cover no-repeat;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px 50px; }

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.footer__col {
  width: 50%; }

.footer__address {
  margin-bottom: 5px; }

.footer__phone {
  color: #e45028;
  font-weight: bold;
  text-decoration: none;
  font-size: 14px; }

.footer__col--right {
  text-align: right;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

#phone {
  fill: #e45028;
  margin-right: 5px;
  vertical-align: middle; }

.socials {
  position: relative;
  top: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.socials__item {
  margin-left: 18px; }

.socials__link {
  display: inline-block;
  max-width: 23px;
  max-height: 20px;
  opacity: .3;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }
  .socials__link:hover {
    opacity: 1; }

.socials__link-icon {
  width: 20px;
  height: 20px; }

.order {
  position: relative;
  background: url("../img/order-bg.jpg") center center/cover no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .order .section__title {
    color: #f9b43b;
    text-align: center; }

.order__form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.order__form-col {
  width: 50%; }

.order__form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  margin-left: -10px; }

.order__form-block {
  width: 100%;
  display: block;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-left: 13px;
  padding: 10px; }

.order__form-label {
  margin-bottom: 5px; }

.order__form-input {
  width: 100%;
  border-radius: 5px;
  height: 35px; }

.order__form-input--textarea {
  height: 110px; }

.order__radio {
  position: relative;
  white-space: nowrap;
  margin-right: 0px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.order__radio-elem {
  position: absolute;
  top: 0;
  left: 9px; }

.order__radio-fake {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
  position: relative; }
  .order__radio-fake:after {
    content: "";
    display: block;
    position: absolute;
    width: 0px;
    height: 0px;
    border-radius: 50%;
    background: #e45028;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: width .3s, height .3s;
    -o-transition: width .3s, height .3s;
    transition: width .3s, height .3s; }

.order__radio-elem:checked + .order__radio-fake:after {
  width: 8px;
  height: 8px; }

.order__radio-title {
  font-size: 4px;
  color: #fff;
  margin-left: 0px; }

.order__radio_checkbox .order__radio-fake {
  border-radius: 0px; }

.order__radio_checkbox .order__radio-elem + .order__radio-fake:after {
  background: transparent; }

.order__radio_checkbox .order__radio-elem:checked + .order__radio-fake:after {
  background: url("../../img/icons/check.svg") 50% no-repeat transparent;
  background-size: contain;
  width: 1px;
  height: 9px; }

/*# sourceMappingURL=main.css.map */