.nav {
  position:fixed;
  top: 90px;
  right: 38px;
}

.nav__item  {
  position: relative;
  width: 16px;
  height: 16px;
  margin-bottom: 5px;

  &:hover::before, &--active::before {
    content: '';
    position: absolute;
    @include circle(16px);
    background-color: transparent;
    transition: 0.3s;
    cursor: pointer;
  }
}

.nav__link  {
  position: absolute;
  @include circle(6px);
  top: 5px;
  left: 5px;
}