.about {
  background-image: url("../../img/bg-about.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  position: relative; }
  .about__container {
    position: relative;
    top: 47%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  .about__content {
    position: relative; }

.section__title--about {
  color: #2f3234;
  text-align: center;
  margin-bottom: 18px; }

.about__list {
  display: block;
  -ms-flex-line-pack: top;
  align-content: top;
  margin-left: 10px; }

.about__item {
  width: 31%;
  float: left;
  color: #2f3234;
  text-align: center; }
  .about__item:not(:last-child) {
    margin-right: 31px; }

.about__icon {
  margin: 0 auto;
  height: 100px;
  margin-bottom: 25px; }

.meat {
  background: url("../../icons/meat.svg") center no-repeat; }

.hand {
  background: url("../../icons/hand.svg") center no-repeat; }

.natural {
  background: url("../../icons/natural.svg") center no-repeat; }

.about__item-title {
  font-family: "Lifehack", Arial, Helvetica, sans-serif;
  font-size: 24.12px;
  margin-bottom: 0.5em;
  line-height: 1.2; }

.about__text {
  color: #6b6a6a;
  font-weight: 300;
  line-height: 24px; }
