$orange: #f9b43b;
$red: #e45028;
$title-font: "Gagalin", Arial, Helvetica, sans-serif;
$lifehack-font: "Lifehack", Arial, Helvetica, sans-serif ;
$desktop: 1200px;
$laptop: 992px;
$tablet: 768px;
$phone: 480px;
$small-phone: 375px;
