.menu {
    background: url('../img/menu-bg.jpg') 50% / cover no-repeat;
    position: relative;

   .section__title {
    position: absolute;
    padding: rem(89px) rem(95px);

    @include tablet {
      padding: rem(80px) rem(9px);  
    }

    @include small-phone {
        padding: 5%;
    }
    }

}

.menu-acc {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    
}

.menu-acc__item {
    height: 100%;
    display: flex;
    // transition: 1s;
    

    &--active {


        .menu-acc__trigger-name {
            color: $orange;
        }
        .menu-acc__content {
            width: rem(550px);
            transition: width 0.3s ease-out;
            
        }
        .menu-acc__text {
            display: inline-block;
            animation: acc-text .3s linear forwards;
            
        }
    }
}

@keyframes acc-text {
    75% {opacity: 0; }
    to {opacity: 1; }
}

.menu-acc__trigger {
    display: block;
    float: left;
    height: 100%;
    width: rem(80px);
    position: relative;
    background: center right / cover no-repeat;
    
    
    &:before {
        content: "";
        background-color: rgba(#2f3234, .70);
        position: absolute;
        width: rem(80px);
        height: 100%;
    }
}
.menu-acc__trigger-name {
    color: #fff;
    font-size: rem(40px);
    font-family: $title-font;
    transform: rotate(-90deg) translateY(-50%);
    transform-origin: 0 0;
    position: absolute;
    top: 100%;
    left: 50%;
    white-space: nowrap;
    margin-top: rem(-38px);
}


.menu-acc__content {
    height: 100%;
    float: left;
    background: rgba(#2f3234, .93);
    width: 0;
    overflow: hidden;
    transition: width 0.3s ease-out;    
}

.menu-acc__text {
    color: #fff;
    font-size: rem(18px);
    line-height: 1.8;
    padding: 10% 7%;
    width: 100%;
    display: none;
    opacity: 0;
    
}