.nav {
  position: fixed;
  top: 90px;
  right: 38px; }

.nav__item {
  position: relative;
  width: 16px;
  height: 16px;
  margin-bottom: 5px; }
  .nav__item:hover::before, .nav__item--active::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border: 1px solid #fff;
    background-color: #fff;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    -ms-border-radius: 8px;
    border-radius: 8px;
    background-color: transparent;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer; }

.nav__link {
  position: absolute;
  width: 6px;
  height: 6px;
  border: 1px solid #fff;
  background-color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  top: 5px;
  left: 5px; }
