.order {
    position: relative;
    background: url('../img/order-bg.jpg') center center / cover no-repeat;
    display: flex;
    align-items: center;

    &__container {
    // max-width: rem(963px);

    @include tablet {
      padding-bottom: 16%;
    }
    
    }   

    .section__title    {
    color: $orange;
    text-align: center;
    // margin-top: -7%;

    @include tablet {
      padding-bottom: 0;

    }
    @include phone {
      font-size: 4rem;
      white-space: normal;
      text-align: center;
      padding-top: 12%;
      padding-bottom: 0;
    }
    }
}



.order__form {
    // width: 100%;
    display: flex;
    // margin-left: -5%;

    @include tablet {
      flex-direction: column;
      padding: 0 18%;
      margin-left: -5%;
      font-size: 14px;
    }

    @include phone {
      padding: 0 2%;
      margin-left: 0;
      
    }
    
}

.order__form-col {
    width: 49%;
    margin-left: 0.6%;

    @include tablet { 
      width: 100%;
      margin: 0;
    }
    @include phone { 
      margin-left: 0;
    }
    
}

.order__form-row {
    display: flex;
    margin-left: rem(-4px);
    margin-bottom: rem(18px);
    margin-right: rem(6px);

    @include tablet {
      margin-bottom: 1.6rem;
      margin-left: 0;
    }
    @include phone {
      margin-bottom: 1rem;
    }

}
.Rectangle_6 {
  background-color: rgb(245, 242, 237);
  position: absolute;
  left: -3px;
  top: 6143px;
  width: 772px;
  height: 1025px;
  z-index: 160;
}

.order__form-block {
    width: 100%;
    display: block;
    flex: 1;
    margin-left: rem(10px);
    // padding: rem(10px);

    @include tablet {
      margin-left: 5%;
    }
    @include phone {
      margin-left: 2%;
    }

    &.floor {
   @include phone {
    display: none;
   }
  }
}

.order__form-label {
    margin-bottom: rem(5px);

}

.order__form-input {
   width: 100%;
   border-radius: 5px;
   height: rem(35px);
   border: 1px solid rgb(209, 207, 203);
   outline: none;
   padding: 0 rem(18px);

  

   &:focus {
    border: 2px solid rgb(249, 180, 59);
   }

   
}

.order__form-input--textarea {
    height: rem(110px);
    resize: none;
    padding-top: rem(10px);
    padding-bottom: rem(10px);
  }

  .order__form-buttons {
      margin-left: rem(10px);

      @include tablet {
        margin-left: 5%;
      }
      @include phone {
        display: flex;
        flex-direction: column;
        align-items: center;

      }


  }

  .order__radio {
    position: relative;
    white-space: nowrap;
    margin-right: rem(20px);
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .order__radio-elem {
    position: absolute;
    top: 0;
    left: rem(-99999px);
  }
  
  .order__radio-fake {
    width: rem(16px);
    height: rem(16px);
    border-radius: 50%;
    background: #fff;
    position: relative;
    &:after {
      content: "";
      display: block;
      position: absolute;
      width: rem(0px);
      height: rem(0px);
      border-radius: 50%;
      background: $red;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: width .3s, height .3s;
    }
  }
  
  .order__radio-elem:checked {
    &+.order__radio-fake {
      &:after {
        width: rem(8px);
        height: rem(8px);
      }
    }
  }
  
  .order__radio-title {
    margin-left: rem(10px);
  }
  
  .order__radio_checkbox {
    .order__radio-fake {
      border-radius: 0px;
    }
    .order__radio-elem {
      &+.order__radio-fake {
        &:after {
        background: transparent;
        }
      }
    }
    .order__radio-elem:checked {
      &+.order__radio-fake {
        &:after {
          background: url('../icons/check.png') 0 no-repeat;
          background-size: cover;
          width: rem(11px);
          height: rem(9px);
        }
      }
    }
  }

  .order__form-button {
    @extend .order-link; 
    margin-right: rem(20px);
    border: 0;
  }
  
  .order__form-button_reset {
    padding-left: 0;
    padding-right: 0;
    text-transform: none;
    background: transparent;
  }